.login {
    
    padding: 50px;
    background-color: aliceblue;
}
.login__container {
    background-color: white;
    /* display: flex; */
    width: 70vw;
    height: 90vh;
    box-shadow: 0px 10px 13px -7px #000000,5px 5px 50px 45px rgba(0,0,0,0);
    margin: 20px auto;
    overflow: scroll;
}
.login__error {

    background-color: rgb(236, 124, 124);
    color: white;
    width: 30vw;
    margin: auto;
    padding: 15px;
    align-items: center;
    border-radius: 15px;
}
.login-container__img {

    width: 100%;
    height: 50%;
}
.login-container__img > img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-text__heading {

    margin-bottom: 10px;
}
input {

    /* border-radius: 50%; */
    padding: 15px;
    margin-bottom: 15px;
    /* border: 2px solid green; */
    border-radius: 15px;
    box-shadow: inset 0px 10px 15px -7px #636060;
    width: 85%;
    border-style: none;
    outline: none !important;
}
.login-container__text {

    padding: 40px;
    margin-top: auto;
    margin-bottom: auto;
    /* width: 100%; */
    height: 50%;

    /* background-color: blue; */
    
}
.login_btn {

    padding: 10px;
    width: 40%;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-style: none;

}
.btn1 {
    background-color: rgb(21, 153, 241);
    color: white;
}

.btn2 {
    color: rgb(21, 153, 241);
    background-color: rgb(176, 213, 245);
}

.login_btn:hover {

    transform: scale(90%);
    background-color: blue;
    color: white;
}
::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 900px) {
    
    .login__container {

        display: flex;
    }
    .login-container__img {

        height: 100%;
        width: 60%;
    }
    .login-container__text {

        width: 40%;
    }
   
}