
#caption{
    color: #59cff7;
    font-size: 38px;
    margin-top: 150px;
}
#sub-caption{
    font-size: 20px;
}
#btn{
    background-color: #ffff;
    color: black;
    border: 2px solid #3498db;
    border-radius: 40px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform;
    transition-property: box-shadow,transform;
    box-shadow: 0 0 10px rgba(14, 107, 228, 0.877);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}
#btn:hover{
    background-color: #3498db;
    color: #ffff;
}
#floating{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 100px;
}
@keyframes floating{
    from { transform: translate(0,0px); }
    65%  { transform: translate(0,15px);}
    to   { transform: translate(0,-0px);}
}
#heading{
    text-align: center;
    margin-top: 100px;
    font-size:32px;
    font-weight: bold;
    padding-bottom: 50px;
}
#banner-item{
    height: 300px;
    width:1000px;
}
#text{
        background-color: #ffff;
        color: #3498db;
        border: 2px solid #999999;
        border-radius: 20px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow,transform;
        transition-property: box-shadow,transform;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
}

.container{
    justify-content: space-between;
}