#floating{
    margin-top: 0px;
}

.flip-box {
   margin: auto;
    background-color: transparent;
    width: 100vh;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
    background-color: rgb(83, 202, 241);
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: rgb(7, 7, 7);
    transform: rotateY(180deg);
  }
  .text{
      color: #f1f1f1;
  }
 
.puzzle__container{
	position: absolute;
    margin: auto;
	top: 0%;
	left: 0%;
	transform: translate(50%, 50%);
	width: 100vh;
}
.puzzle__container span{
	display: block;
}
.text1{
	color: rgb(81, 206, 248);
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: 20px;
	position: relative;
	animation: text 3s 1;
    text-align: center;
}
.text2{
	font-size: 30px;
	color: darkgreen;
	font-family: Georgia, serif;
    text-align: center;
}
@keyframes text{
	0%{
		color: black;
		margin-bottom: -40px;
	}
	30%{
		letter-spacing: 15px;
		margin-bottom: -40px;
		}
	85%{
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}
