.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #131212;
    height: 750px;
    width: 250px;
}
    .upperSection{
        display: flex;
        flex-direction:column;
        color:white;
        margin-bottom: 300px;
        line-height: 3;
        margin-left: 20px;
    }
    .upperSection> a > div:hover{
        background-color: rgb(109, 104, 104);
    }
    .upperSection> a {
        width: 100%;
        text-align: center;
    }
    .lowerSection{
        display: flex;
        flex-direction:column;
        align-items: center;
        color: white;
    }
      .button {
        position: relative;
        background-color: #4CAF50;
        border: none;
        font-size: 28px;
        color: #FFFFFF;
        padding: 20px;
        width: 200px;
        text-align: center;
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
      }
      
      .button:after {
        content: "";
        background: #f1f1f1;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
      }
      
      .button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      }