.content {

    /* background-color: blanchedalmond; */
    padding: 20px;
}

.content__title {

    padding: 10px; 
}

.content__info-card{

    display: flex;
    justify-content: space-between;  
    padding-bottom: 20px;
}
.content__courses {

    padding: 20px;
}
.content__article {

    padding: 20px;
}
  
.info{
    flex: 0.8;
    padding: 5px;
    cursor: pointer;
    
  }
 
  .header__info {

    
    flex: 0.4;
  }
  .content__header {

    display: flex;
    
  }
  .header__carousel {

    flex:0.6;
  }
