*{

    box-sizing: border-box;
}


.container{
    display: flex;
    margin-top: 10px;
    margin-left: -10px;
    width: 100vw;
}


.home {

    flex: 1;
    padding: 20px;

}
.mentor {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 100vh;
	margin: 0;
    padding: 20px;
}

.container-fluid{
    display: flex;
    margin: 0;
    margin-top: 10px;
    margin-left: -10px;
    width: 100%;

}


h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 300px;
	max-width: 100%;
	text-align: center;
}


.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
    margin: 2px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
    
}




