.home{
    flex: 4;
    margin-left: 250px;
}

.homeWidgets{
    display: flex;
    margin: 20px;
    flex-direction: row;
}

.dashboard_container{
    display: flex;
    width: 100vw;
}

.link{
    text-decoration: none;
    color: inherit;
}